@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 nav {
        @apply flex items-center justify-between;
    }
.round-btn {
  @apply w-8 h-8 overflow-auto rounded-full bg-indigo-100
         border border-indigo-500
         focus:outline-none focus:ring-1 focus:ring-indigo-500
         focus:ring-offset-2 focus:ring-offset-indigo-800;
}
 
.nav-link {
  @apply active:bg-slate-900 hover:text-indigo-700
         text-indigo-900 px-3 py-1 rounded-lg;
}

/* Default Login button */
.nav-link[href*="login"] {
  @apply border border-indigo-900 text-indigo-900 bg-transparent hover:bg-indigo-50;
}

/* Register button */
.nav-link[href*="register"] {
  @apply bg-indigo-900 text-white hover:bg-indigo-700;
}

.btn {
  @apply bg-indigo-800 active:bg-indigo-900
         hover:bg-indigo-600 p-2 rounded-md
         text-white block w-full;
}
 .title {
  @apply text-3xl mb-4 font-bold;
}
.error {
  @apply text-xs text-red-500 mt-px;
}
.label {
  @apply text-indigo-900 text-sm mb-1 block;
}

.input {
  @apply w-full px-4 py-2 rounded-lg bg-white shadow-md
  focus:outline-none focus:ring-2 focus:ring-indigo-700;
}
.card{
  @apply p-6 w-full rounded-lg shadow-lg border
  border-slate-200;
}
.container {
    @apply flex flex-col md:flex-row w-full w-screen;
    min-height: calc(100vh - 72px); /* header height remove */
}

/* LEFT SIDE */
.left {
    @apply w-full w-screen md:w-1/2 flex flex-col justify-center items-center bg-slate-100 p-6;
}

/* RIGHT SIDE */
.right {
    @apply w-full w-screen md:w-1/2;
}

.right img {
    @apply w-full h-full object-cover;
}
.shade  {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.10);
}
.icon {
  font-size: 20px;
  color: #242871;
  margin-right: 4px;
}
}