@import 'tailwindcss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f6fa;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left {
    width: 40%;
    background: url('/images/camera.jpg') no-repeat center/cover;
    position: relative;
}

.overlay {
    background: rgba(0,0,0,0.4);
    height: 100%;
    color: white;
    padding: 40px;
}

.overlay h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 18px;
    color: #242871;
}

/* RIGHT SIDE */
.right {
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAVBAR */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    background-color: #EEEFF7;
}

.logo {
    color: #242871;
}

.btn, .btn-outline {
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn {
    background: #242871;
    color: #EEEFF7;
}

.btn-outline {
    border: 1px solid #242871;
    color: #242871;
    margin-right: 10px;
}

/* LOGIN CARD */
.login-card {
    width: 500px;
    margin: auto;
    background: #EEEFF7;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-card h2 {
    color: #242871;
}

.login-card p {
    margin-bottom: 20px;
    color: #2C3399;
}

/* FORM */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #242871;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* FORGOT */
.forgot {
    text-align: right;
    margin-bottom: 15px;
    
}

.forgot a {
    font-size: 12px;
    text-decoration: none;
    color: #242871;
}

/* BUTTON */
.login-btn {
    width: 100%;
    padding: 10px;
    background: #242871;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* SIGNUP */
.signup {
    margin-top: 10px;
    font-size: 14px;
    color: #242871;
}